/* LandingPage.css */
.hero-section {
    min-height: 100vh;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}